.report-container-etab {
    display: flex;
    gap: 2%;
}

.report-container-etab h3 {
    margin-bottom: 5px;
    color: #065CFF;
}
 
.one-panel {
    width: 23%;
    height: 650px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.two-panel {
    position: relative;
    width: 23%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.three-panel {
    position: relative;
    width: 47%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.search-box {
    display: flex;
    align-items: center;

    width: 100%;
    height: 40px;

    border: 1px solid #ddd;
    border-radius: 8px;

    padding: 0 12px;
    box-sizing: border-box;
}


.search-box input {
    flex: 1;

    border: none;
    outline: none;

    font-size: 14px;
}


.search-box i {
    color: #777;
    font-size: 15px;
    cursor: pointer;
}