
.report-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 40px;
}

.btn-add-report {
    background-color: #065CFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    font-family: 'Urbanist', sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.btn-add-report:hover {
    background-color: #0448c9;
}


.report-container {
    display: flex;
    gap: 2%;
}

.left-panel {
    width: 30%;
    height: 650px;
    background: #F2F2F5;
    /*border: 1px solid #ffffff;*/
    border-radius: 12px;
    padding: 0px;
    overflow-y: auto;
}

.rapport-reporting {
    display: flex;
    gap: 10px;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.rapport-reporting:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.rapport-icon {
    width: 42px;
    height: 42px;
    object-fit: contain;
}


.rapport-content {
    flex: 1;
}


.rapport-content h4 {
    margin: 0;
    font-weight: 600;
    color: #022D7E;
}

.next-run {
    margin: 6px 0 12px;
    font-size: 12px;
    color: #6B7280;
}

.rapport-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rapport-info p {
    margin: 0;
    font-size: 12px;
    color: #6B7280;
}

.rapport-info strong,
.next-run strong {
    color: #000000;
    font-size: 12px;
}

/* RIGHT */
.right-panel {
    position: relative;
    width: 65%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.right-panel h3 {
    margin-bottom: 5px;
    color: #065CFF;
}

.right-panel h5 {
    margin: 20px 0 20px;
}

/* Carte principale */

.config-card {

    border: 1px solid #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 40px;
}



/* Bandeau gris */

.config-header {
    background: #F1F5F9;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #64748B;

}

/* Corps */

.config-body {
    padding: 25px;
}

.config-body label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: #111827;
}

.config-body input[type="text"] {
    width: 100%;
    height: 45px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 25px;
    font-family: 'Urbanist';
}

/* Format */

.format-choice {
    display: flex;
    gap: 60px;
    margin-bottom: 25px;
}

.format-choice label {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Fréquence */
select {
    width: 100%;
    color: #64748B;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    border-radius: 8px;
    background: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 12px;
}

/* Petit champ J & H */
.schedule-row {
    display: flex;
    gap: 10px;
}

.field {
    flex: 1;
}

.input-small {
    position: relative;
    display: flex;
    align-items: center;
}

.input-small select,.input-small input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
}

/* Email tag */

.email-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    min-height: 45px;
}

.email-container input {
    border: none;
    outline: none;
    flex: 1;
    font-family: 'Urbanist';
    min-width: 150px;
}

#emailTags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.email-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f1f1f5;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-family: 'Urbanist';
}

.email-tag span {
    cursor: pointer;
    font-weight: bold;
    color: #666;
}

/* type de reporting */

.config-header-report {
    background: #F1F5F9;
    font-size: 16px;
    font-weight: 600;
    color: #64748B;
}

.config-header-report:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.config-header-report,
.report-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    cursor: pointer;
}

.report-item {
    border-bottom: 1px solid #f2f2f2;
    transition: background 0.2s;
    font-size: 14px;
}

.report-item:hover {
    background: #f8f8f8;
}

.report-item i,
.config-header-report i {
    color: #8b8b8b;
    font-size: 12px;
}

#reportTitle {
    margin: 15px 0 15px 15px;
    font-size: 14px;
    font-weight: 600;
}

.kpi-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 18px;
    color: #64748B;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.validate-btn {
    background: #065CFF;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 12px;
}

.validate-btn:hover {
    opacity: 0.9;
}
