* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F2F2F5;
}

.navbar {
    height: 40px;
    width: 97%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-left: 50px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.flux {
   color: #6B7280;
   font-size: 12px;
}

.user {
    background-color: #f2f2f2;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 12px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 50px;
    height: 100vh;

    background: linear-gradient(
        180deg,
        #022D7E 0%, 
        #1E539C 20%,
        #2563EB 50%,   
        #48A9F2 100%
    );

    padding: 20px 0; /* important */
    box-sizing: border-box;
}


.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.logo {
    width: 30px;
    height: auto;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-menu li {
    width: 100%;
    margin: 15px 0;
}

.sidebar-menu a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    color: #d1d5db;
    text-decoration: none;
}

.sidebar-menu img {
    width: 25px;
}


.sidebar-menu a:hover {
    background-color: #FFFFFF80;
    color: white;
}

.sidebar-menu a.active {
    background-color:#FFFFFF80;
    color: white;
}

.body-content {
    margin-left: 80px;
}

.menu-title {
    color: #022D7E;
    margin-top: 30px;
   font-family: 'Urbanist', sans-serif;
}

.content {
    width: 97%;
    height: 10%;

    background-color: white;
    border-radius: 10px;

    margin-top: 30px;

    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.cont-params {
    width: 100%;
    height: 50px;

    background-color: #F8F9FA;
    border-radius: 8px;

    display: flex;
    align-items: center;
    padding-left: 20px;

    font-size: 12px;
    color: #065CFF;
}

.report-menu {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}


.menu-item {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    color: #6B7280;
    font-size: 16px;
}


.menu-item.active {
    color: #065CFF;
    font-size: 16px;
}


.menu-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: #065CFF;
}


.tab-content {
    margin-top: 20px;
}


.hidden {
    display: none;
}
